body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f6f8f9;
}

* {
    margin: 0;
    padding: 0;
}

.app-header {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    
}

img {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    vertical-align: middle;
}
